################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestWindowsForms/TestWindowsForms/bin/Debug
